# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Java
*.class
*.jar
*.war
*.ear
*.log

# Spring Boot specific
target/
logs/
hs_err_pid*

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Application properties (Sensitive)
#application.yml
#application.properties
.env

# Docker
docker-compose.override.yml
*.log
*.pid

# Kubernetes
deployment/k8s/*.yml

# Test reports
test-results/
